services:

  db:
    image: postgres:latest
    healthcheck:
      test: "/bin/true"
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: pguser
      POSTGRES_DB: visadb
      POSTGRES_PASSWORD: pgpass
    ports:
      - "127.0.0.1:5432:5432"

  backend:
    build:
      context: ./backend
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - db

volumes:
  postgres-data:
